body
{
    margin: 0px;
    padding: 0px;
    background-color: #4f5a50;
}

.header-image
{
    background-image: url("images/header feur tempo background.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#header h1
{
    font-size: 20px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #1a221a;
}

#navigation 
{
    margin: 0px;
    padding: 0px;
    display: flex;
    background-color: #1a221a;
    height: 40px;
}

#navigation .logo
{
    position: absolute;
    padding-right: 50px;
    left: 80px;
    padding-top: 6px;
}

#navigation .logo a
{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #e59b9b;
}

#navigation ul
{
    position: absolute;
    right: 0px;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #1a221a;
}

#navigation ul li
{
    float: right;
}

#navigation ul li a
{
    padding: 14px 20px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #e2d391;
    font-size: 10px;
    font-weight: 700;
}

#navigation ul li a:hover
{
    background-color: #818e82;
    color: #1c321f;
}

.footer
{
    text-align: center;
    align-content: center;
    margin-top: 200px;
    width: 100%;
    height: 90px;
    background-color: #1a221a;
}

.links
{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #e5d79b;
    padding: 50px 50px;
    padding-top: 10px;
    padding-bottom: 25px;
}