/*body*/
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #4f5a50;
}

body {
	background-image:
		repeating-linear-gradient(to right, var(--grid-color) 0, var(--grid-color) 1px, transparent 1px, transparent var(--grid-size)),
    	repeating-linear-gradient(to bottom, var(--grid-color) 0, var(--grid-color) 1px, transparent 1px, transparent var(--grid-size));
	background-blend-mode: overlay;
}

:root {
	--grid-size: 40px;
	--grid-color: rgba(53, 95, 52, 0.552);
    --grid-accent: rgba(255,255,255,0.06);
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.video-wrapper{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;

}

.main-column {
  flex: 1 1 700px;
  max-width: 800px;
  margin: 0 auto;
}

.content-block{
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0,1);
  text-align: center;
  overflow: hidden;

}

.main-content {
  flex: 1;
}

/*Header*/
.header-image {
	background-image: url("images/header.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	margin: 0 0;
}

.header-image h1 {
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	color: #dee762;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	text-shadow: 0 0 10px rgba(229, 255, 0, 0.822);
}

/*Navigation*/
@media (min-width: 769px) {
  #nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.hamburger {
  display: none;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a221a;
  padding: 10px 20px;
  flex-wrap: wrap;
  
}

#navigation .logo a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  color: #e59b9b;
  letter-spacing: 1px;
}

#navigation .logo a:hover {
  color: #dadd26;
  text-shadow: 1px 1px 2px #000;
}

#navigation ul {
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#navigation ul li a {
  padding: 14px 20px;
  text-decoration: none;
  color: #e2d391;
  font-size: 14px;
  font-weight: 700;
  display: block;
}

#navigation ul li a:hover {
  background-color: #818e82;
  color: #1c321f;
}

/*Layout*/
.page-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-column {
  flex: 1 1 700px;
  max-width: 800px;
  width: 100%;
}

.sidebar {
  flex: 0 0 300px;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin: 0 auto;
}

/*Sidebar*/
.rectangles,
.gif-only {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 20px;
}

.gif-only {
max-width: 300px;
height: 250px;
}

.snippets {
  background-color: #a1aa8e;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.snippets p {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.ad-image {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 250px;
  height: auto;
  max-height: 140px;       
  object-fit: cover;      
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ad-image:hover {
  transform: scale(1.05);
}

.picture-header,
.content-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background: #a1aa8e;
}

.picture-header {
  background-color: #1a221a;
  color: #e2d391;
  font-family: 'Denk One', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  margin: 20px 0 0;
}
.post {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
} 
.post-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.post-thumb {
  width: 100px;             
  height: auto;             
  max-height: 80px;          
  object-fit: contain;       
  border-radius: 8px;
  cursor: pointer;

}

.post-text {
  flex: 1;
}

.post-title {
  font-family: 'Denk One', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  color: #1a221a;
}

/*Content Block*/
.content-block {
  width: 100%;
  max-width: 800px;
  background-color: #a1aa8e;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
}

.content-block img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.heading-dramatic h2,
.description h2 {
  font-family: 'Denk One', sans-serif;
  font-size: 30px;
  color: #1a221a;
  margin-top: 0;
}

.description p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

/*Reaction & Comments*/
.reaction-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.reaction-menu {
  display: none;
  flex-direction: row;
  gap: 5px;
}

.reaction-menu span {
  font-size: 1.5rem;
  line-height: 1.2;
  cursor: pointer;
  transition: transform 0.2s;
}

.selected-reaction {
  margin: 0;
  font-size: 1rem;
  line-height: 1.2;
  color: #333;
}

.like-button {
  background-color: #69ac85;
  color: #fff;
  position: relative;
  z-index: 20;
  margin-bottom: -10px;
  top: -10px;
}

.comment-section {
  display: none;
  background-color: #e4d49b;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.comment-section.open {
  display: block;
}

.comment {
  background-color: #efe9b2;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 4px solid #e2d391;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.toggle-comments {
  background-color: #e2d391;
  color: #1a221a;
}

.like-button,
.toggle-comments {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 150px;
  flex-shrink: 0;
}

/*Lightbox*/
.popup-image {
  width: 150px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.popup-image:hover {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.lightbox-img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
}

/*Footer*/
.footer {
  width: 100%;
  background-color: #1a221a;
  text-align: center;
  padding: 30px 0;
  margin-top: 80px; 
  display: flex;
  justify-content: center;
  gap: 40px; 
  flex-wrap: wrap;
}

.links {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #e5d79b;
  padding: 10px 20px;
  display: inline-block;
}

.links:hover {
  color: #e2d391;
}

/*GALLERY VIEW*/
.header-container {
  width: 100%;
  max-width: 2000px;
  margin: 25px;
}

h3 {
  font-size: 80px;
	font-weight: bold;
	text-align: center;
  justify-content: center;
	color: #e7cc62;
	margin: 0;
	text-decoration-line: underline;
  text-decoration-style: dotted;
	text-shadow: 0 0 10px rgba(255, 213, 0, 0.822);
}

.gallery-view {
  margin: auto;
  padding: 10px;
  width: 100%;
  max-width: 2000px;
}

.gallery-contain {
  overflow: hidden;
  contain: layout style paint;
}

.gallery {
  width: 100%;
  max-width: 3000px;
  height: 60vmin;
  display: flex;
  gap: 5px;
  contain: layout style;
}

.gallery img {
  height: 100%;
  flex: 1;
  flex-direction: row;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 30px;
  transition: flex .5s ease;
  aspect-ratio: 1 / 1;
  contain: paint;
}

.gallery img:hover {
  flex: 8;
  will-change: flex;
}

/*Tablet & Mobile*/
@media (max-width: 1024px) {
  .page-layout {
    flex-direction: column;
    align-items: center;
  }

  .main-column,
  .sidebar {
    width: 100%;
    max-width: 90%;
  }

  .button-row {
    flex-direction: column;
    align-items: stretch;
  }

  .post-item {
    flex-direction: column;
    align-items: center;
  }

  .post-thumb {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
    .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    margin-top: 60px;
  }

  .links {
    font-size: 14px;
    padding: 10px;
    display: block;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    color: #e5d79b;
    cursor: pointer;
    padding: 10px;
  }

   #nav-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    flex-direction: column;
    width: 100%;
    background-color: #1a221a;
  }

  #nav-links.active {
    display: flex;
    max-height: 500px;
  }

  #nav-links li {
    width: 100%;
    text-align: center;
  }

  #nav-links li a {
    padding: 15px;
    font-size: 16px;
  }

  .content-block,
  .sidebar,
  .snippets,
  .content-container {
    width: 100%;
    margin: 10px auto;
  }

  .content-block {
    margin-bottom: 50px;
  }
  .gif-only,
  .rectangles {
    width: 100%;
    padding: 10px;
  }

  .picture-header {
    width: 100%;
    font-size: 1.5rem;
  }

  .button-row {
    flex-direction: column;
    align-items: stretch;
  }

  .like-button,
  .toggle-comments {
    width: 100%;
    margin-bottom: 10px;
  }
}

.responsive-video {
  width: 100%;      
  height: auto;      
  max-width: 100%;  
  border-radius: 8px; 
  aspect-ratio: 16 / 9;
  background-color: #000;
}
